<% if ( d.path === 'fname') { %>
  <li>
    First name(s)        
  </li>
<% }; %>     

<% if ( d.path === 'lname') { %>
  <li>
    Last name      
  </li>
<% }; %>  

<% if ( d.path === 'day') { %>
  <li>
    Day      
  </li>
<% }; %>     

<% if ( d.path === 'month') { %>
  <li>
    Month  
  </li>
<% }; %>  

<% if ( d.path === 'year') { %>
  <li>
    Year   
  </li>
<% }; %>     

<% if ( d.path === 'gender') { %>
  <li>
    Gender  
  </li>
<% }; %>  

<% if ( d.path === 'id_doc_typ') { %>
  <li>
    Identity document type
  </li>
<% }; %>     

<% if ( d.path === 'id_doc_no') { %>
  <li>
    Identity document number   
  </li>
<% }; %>  

<% if ( d.path === 'country_code_mobile' ) { %>
  <li>
    Mobile number country code
  </li>
<% }; %>     

<% if ( d.path === 'mobile_number' ) { %>
  <li>
  Mobile number       
  </li>
<% }; %>  

<% if ( d.path === 'country_code_alt_mobile_number') { %>
  <li>
    Alternate mobile number country code
  </li>
<% }; %>     

<% if ( d.path === 'alt_mobile_number') { %>
  <li>
  Alternate mobile number       
  </li>
<% }; %>  

<% if ( d.path === 'email') { %>
  <li>
  Email       
  </li>
<% }; %>     

<% if ( d.path === 'address') { %>
  <li>
  Address     
  </li>
<% }; %>  

<% if ( d.path === 'event-category') { %>
  <li>
  Event category
  </li>
<% }; %>     

<% if ( d.path === 'emerg_contact_name') { %>
  <li>
  Emergency contact name
  </li>
<% }; %>  

<% if ( d.path === 'emerg_contact_country_code_mobile') { %>
  <li>
  Emergency contact mobile number country code
  </li>
<% }; %>  

<% if ( d.path === 'emerg_contact_mobile_number') { %>
  <li>
  Emergency contact mobile number       
  </li>
<% }; %>  

<% if ( d.path === 'event_discovery') { %>
  <li>
  Event discovery    
  </li>
<% }; %>  

<% if ( d.path === 'terms_conds') { %>
  <li>
  Terms & conditions      
  </li>
<% }; %>  


<% if ( d.path === 'policy') { %>
  <li>
    Limitation of indemnity, liability, privacy and refund policies
  </li>
<% }; %>  

<% if ( d.path === 'communication') { %>
  <li>
  Receive communication   
  </li>
<% }; %> 