<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>Registration Submitted | Dr Simon V Muzenda Gutu Half Marathon 2024</title>
</head>
<body>
  <header>
    Dr Simon V Muzenda Gutu Half Marathon 2024
  </header>
  <i class="fa-solid fa-check"></i>
  <h3>Success</h3>
  <p>, you have successfully submitted your entry form.</p>
  <p>To complete your entry, make a payment of $X.</p>
  <p>Proof of purchase must be sent to YYY-YYYYYYY</p>
  <p>You'll receiveconfirmation within 48 hours.</p>

  <div class="container">
    Payment details
    <div>
      Bank
      FBC Masvingo
      SV Muzenda Sports Foundation
      1055131891555
    </div>

    <div>
      Ecocash
      0772 210 914
    </div>
  </div>

  <button>Click here to submit another entry</button>

  <!--  -->
  <footer>
    <p>Get in touch</p>
    <ul>
      <li>
        name@email.com
      </li>
      <li>
        +263-775-101-101
      </li>
    </ul>
     &copy; Dr Simon V Muzenda Gutu Half Marathon 2024
  </footer>
</body>
</html>