/* styling template */
:root {
  --primary-color: #4891ff;
  --light-color: hsl(216, 7%, 86%);
  --dark-color: #0a0808;
  --red: hsl(348, 89%, 48%);
  --red-10: hsl(348, 87%, 75%);
  --grey: hsl(0, 0%, 20%);
  --white: hsl(15, 20%, 98%);
  --li-green: hsl(157, 68%, 41%);
  --green: hsl(148, 88%, 40%);
  --bg-card-container: rgba(240, 235, 226, 0.607);
  --font: "Poppins",Arial, Helvetica, sans-serif;
  --alt-font: "Lato",Arial, Helvetica, sans-serif;
  --fnt-600: 600;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 96%);
  color: var(--dark-color);
  font-family: var(--font);
  line-height: 1.5;
  overflow-x: hidden;
  font-size: 1.35rem;
  text-anchor: end;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem; 
  padding: 0;
  margin-top: 4px;
}

input[type="radio"] {
  width: 0.5rem;
  opacity: 0;
}

/* header */
header {
  width: min(90%, 950px);
  margin: 3.5rem auto;
}

h1.event-name {
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 7.5px;
  word-spacing: 15px;
  line-height: 1.2;
}

p.theme {
  margin-top: 1rem;
  font-size: 1.25em;
  font-weight: 300;
  font-style: italic;
  color: var(--grey);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* form container */
#container {
  width: min(95%, 950px);
  margin: 2rem auto 4.5rem auto;
  background-color: rgba(240, 235, 226, 0.607);
  padding: 2.25rem 6rem;
  border-radius: 30px;
  box-shadow: 2px 2px 2px rgba(0 ,0 ,0 , 0.05),
  -2px -2px 2px rgba(0 ,0 ,0 , 0.05);
}

/* form header  */
.container-form-header {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3rem;
  margin-bottom: 1.75rem;
  row-gap: 2rem;
}

.container-form-header > p {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;
}

.container-form-header div {
  width: 50%;
  font-weight: 300;
  color: var(--grey);
}

.container-form-header div:last-child {
  width: 50%;
  text-align: end;
}

.container-form-header i {
  margin-right: 8px;
}

.container-form-instructions {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--grey);
  font-size: 1.15rem;
}

.container-form-instructions span {
  color: var(--red);
}

/* second horizontal rule */
hr.two {
  opacity: 35%;
}

/* form */
form {
  padding-top: 2rem;
}

/* form fields */
form * {
  width: 100%;
  letter-spacing: 0.65px;
  font-weight: 500;
  font-size: 1.25rem;
  display: block;
}

fieldset {
  border: none;
}

fieldset > div, div#event-discovery {
  margin-bottom: 1.85rem;
}

input, textarea {
  height: 3rem;
  padding: 1.2rem;
  border: solid var(--light-color) 3px;
  background-color: var(--white);
  border-radius: 5px;
  font-family: var(--font);
  font-weight: 400;
}

/* first name */

/* date of birth */
div#date-of-birth {
  display: flex;
  flex-direction: column;
}

div#birthday {
  display: flex;
  width: auto;
  column-gap: 3rem;
}

/* gender */

/* id */
div#id select[name="id_doc_typ"] {
  margin-bottom: 0.85rem;
}

/* mobile number */
div#mobile-number, div#alt-mobile-number, div#emerg-contact-mobile {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
}
label[for="number"], label[for="alt_mobile_number"], label[for="emerg_contact_country_code_mobile"] {
  width: 100%;
}

input[id="number"], input[id="alt_mobile_number"], input[id="emerg_contact_mobile_number"] {
  width: 75%;
  flex-grow: 1;
}

/* address */
textarea {
  resize: none;
  overflow: hidden;
  height: 9rem;
}

/* event category */
fieldset.event-category {
 margin-top: 1.5rem;
}

legend.event-category {
  font-weight: 500;
}

div#event-category > ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  padding: 0 0.5rem;
  color: var(--grey);
}

div#event-category > ul > li {
  display: flex;
  border: var(--grey) dotted 2px;
  cursor: pointer;
  margin-top: 1.5rem;
  font-family: var(--alt-font);
}

div#event-category > ul > li p:not(:first-child) {  
  font-weight: 500;
}

div#event-category > ul label {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: space-around;
}

div#event-category > ul label p {
  width: auto;
}

div#event-category > ul > li > label > p {
  font-weight: 800;
}

div#event-category li *:hover, input[type="radio"]:hover {
  cursor: pointer;
}

/* emergency contact */
div#emerg-contact {
  margin: 1.85rem 0;
}

div#emerg-contact-name {
  margin-bottom: 1rem;
}

div#emerg-contact-mobile {
  margin-bottom: 0;
}

legend.emerg-contact {
  font-size: larger;
  margin-bottom: 0.75rem;
}

/* event discovery */
div#event-discovery {
 margin: 2.5rem 0;
}

p.text-sm-it {
  color: var(--grey);
  font-size: x-small;
  font-style: italic;
  text-transform: none;
}

/* user consent */
div#usr-consent > p {
  text-transform: uppercase;
  margin: 2rem 0 0.75rem 0;
}
div#usr-consent > fieldset {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 0.5rem;
}

div#usr-consent > fieldset > li {
  display: flex;
  margin-bottom: 0.5rem;
  column-gap: 1rem;
  color: var(--grey);
}

div#usr-consent > fieldset > li > label, div#usr-consent a {
  font-size: 14px;
}

div#usr-consent a {
  display: inline;
  color: var(--primary-color);
}

/* button */
button {
  margin-top: 2.5rem;
  height: 4rem;
  border: none;
  border-radius: 10px;
  background-color: var(--green);
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.25px;
  transition: ease-in-out 75ms;
}

button:hover {
  cursor: pointer;
  background-color: var(--li-green);
  box-shadow: 2px 2px 2px rgba(0 ,0 ,0 , 0.2);
  font-size: 1.3rem;
}
/* footer */
div#container-footer {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 1.5rem 6rem;
  display: flex;
  column-gap: 1rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

div#container-footer > div#socials {
  display: flex;
  column-gap: 1.4rem;
  align-items: center;
  font-size: 1.35rem;
}

div#container-footer > div#socials > a {
  color: var(--light-color);
}

div#container-footer > div#contact {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

div#container-footer > div#contact > p {
  font-weight: 600;
  text-transform: uppercase;
}
/* select */
select {
  cursor: pointer;
  height: 3rem;
  background-color: var(--white);
  border: var(--light-color) solid 3px;
  border-radius: 5px;
  font-family: var(-	-font);
  font-weight: 400;
  width: auto;
  padding: 2px 1.5rem 2px 1.2rem;
  /* text-align: center; */
}

/* required class  */
.required::after {
  content: '*';
  color: var(--red);
  display: inline;
}

.required-bf::before {
  content: '*';
  color: var(--red);
  display: inline;
}

/* .selected */
li.selected {
  opacity: 1;
  background-color: var(--white);
  color: var(--primary-color);
}

div#event-category > ul > li.selected {
  border: solid var(--grey) 2px;
  border-radius: 3.5px;  
}

li.selected p {
  font-weight: 600;
  font-size: 1.4rem;
}

/* MEDIA QUERIES */
/* desktop view */
@media (min-width: 676px) and (max-width: 1100px) {
  /* footer */
  div#container-footer {
    padding: 1.5rem 2rem;
  }

  div#container-footer > div#socials {
    column-gap: 0.8rem;
  }

  div#container-footer > p {
    text-align: center;
  }
}

@media (min-width:676px) and (max-width: 960px) {
   /* header */
  h1.event-name {
    font-size: 3.25rem;
  }

  p.theme {
    font-size: 2rem;
  }
  /* form container */
  #container {
    padding: 2rem 3rem;
  }

  div.container-form-header {
    padding: 0;
  } 

  .container-form-header > div:nth-child(2) {
    width: 70%;
  }
  .container-form-header > div:nth-child(3) {
    width: 30%;
  }

  /* footer */
  div#container-footer {
    font-size: 1rem;
  }
}
/* mobile & tablet view */
@media (max-width: 675px) {
  /* user input fields */
  select[type='text'], textarea {
    width: 100%;
  }

  label {
    margin-bottom: 0.25rem;
  }

  li.selected p {
    font-size: 1rem;
  }

  /* header */
  header {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }
  h1.event-name {
    font-size: 2.25rem;
  }
  p.theme {
    font-size: 1.25rem;
  }

  /* form */
  form {
    padding-top: 0.75rem;
  }
  
  form * {
    font-size: 0.9rem;
  }

  /* container */
  #container {
    padding: 2rem 0.5rem;
    margin: 0 auto;
  }

  .container-form-header {
    padding: 0 0.5rem;
    row-gap: 1rem;
    margin-bottom: 1.5rem;
    font-size: 12px;
  }

  .container-form-header > p {
    font-size: 1.95rem;
  }

  .container-form-header > div:nth-child(2) {
    width: 70%;
  }
  .container-form-header > div:nth-child(3) {
    width: 30%;
  }

  .container-form-header i {
    margin-right: 4px;
  }

  .container-form-instructions {
    font-size: 0.95rem;
    text-wrap: wrap;
    word-wrap: break-word;
    margin: 1rem 0;
  }
  /* fieldset */

  fieldset > div {
    margin: 0.9rem 0;
  }
  /* date of birth */

  div#birthday {
    justify-content: space-between;
    column-gap: 0;
  }
	

  /* gender */
  div#gender select {
    width: 55%;
  }

  /* id */
  div#id select[name="id_doc_typ"] {
    margin-bottom: 0.75rem;
  }

  /* mobile numbers */
  div#mobile-number, div#alt-mobile-number, div#emerg-contact-mobile {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 0.25rem;
  }

  label[for="number"], label[for="alt_mobile_number"], label[for="emerg_contact_country_code_mobile"] {
    grid-column: 1 / 3;
  }

  input[id="number"], input[id="alt_mobile_number"], input[id="emerg_contact_mobile_number"] {
    width: 100%;
  }

  /* emergency contact */
  legend.emerg-contact {
    margin-bottom: 0;
  }
  /* event category */
  div#event-category > ul {
    row-gap: 1rem;
  }

  div#event-category > ul > li {
    margin: 0;
  }

  /* event discovery */
  div#event-discovery {
    margin: 1.85rem 0;
  }

  div#event-discovery label {
    margin-bottom: 0.75rem;
  }

  /* user consent */
  div#usr-consent > fieldset > li > label, div#usr-consent a {
    font-size: 0.625rem;
  }

  /* submit button */
  button {
    margin-top: 1.25rem;
    font-size: 1rem;
    letter-spacing: 1.25px;
  }

  /* footer */
  div#container-footer {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 1.5rem 1.2rem;
    flex-direction: column-reverse;
    align-items: start; 
    row-gap: 0.85rem;
    font-size: 1.2rem;
  }

  div#container-footer > p {
    font-size: 0.8rem;
    order: -1;
  }
  
  div#container-footer > div#contact > p {
    font-weight: 600;
    text-transform: uppercase;  
  }

  div#container-footer > div#contact li {
    font-size: 0.85rem;
  }

  div#container-footer > div#socials {
    column-gap: 1rem;
  }

  button {
    text-transform: none;
  }

  button:hover {
    box-shadow: none;
    font-size: 1rem;
  }
}

@media (max-width: 398px) {
  div#birthday {
    flex-direction: column;
    row-gap: 1rem;
  }

  div#birthday select {
    text-align: center;
  }
}