/* styling for submission success page */
:root {
  --primary-color: #4891ff;
  --drk-pri-color: #3478df;
  --light-color: hsl(216, 7%, 86%);
  --dark-color: #0a0808;
  --red: hsl(348, 89%, 48%);
  --grey: hsl(0, 0%, 20%);
  --white: hsl(15, 20%, 98%);
  --green: hsl(157, 68%, 41%);
  --bg-card-container: rgba(240, 235, 226, 0.607);
  --font: "Poppins",Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 96%);
  color: var(--dark-color);
  font-family: var(--font);
  line-height: 1.5;
  overflow-x: hidden;
  font-size: 1rem;
  text-anchor: end;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  row-gap: 2rem;
}

/* links */
a {
  text-decoration: none;
  color: #333;
}
/* horizontal rule */
hr.two {
  opacity: 35%;
  margin: 1.25rem 0;
}
/* list items */
ul {
  list-style: none;
}

/* header */
header {
  padding: 1.5rem 3.5rem 0 3rem;
  text-transform: uppercase;
}

header > h3 {
  display: inline-block;
  position: relative;
  letter-spacing: 1.5px;
  word-spacing: 6px;
  font-size: 1.5rem;
}

header > h3::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.25rem;
  background-color: var(--dark-color);
  left: 0;
  bottom: 0;
  border-radius: 3px;
}

/* container */
div#card-container {
  width: min(90%, 500px);
  margin: 0 auto;
  background-color: var(--bg-card-container);
  border: 0.5px solid rgba(128, 128, 128, 0.119);
  border-radius: 30px;
  box-shadow: 2px 2px 2px rgba(0 ,0 ,0 , 0.05),
  -2px 0px 2px rgba(0 ,0 ,0 , 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  /* row-gap: 2rem; */
}

div.card-message-success {
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  padding: 2rem 0 1rem 0;
  border-radius: 28px 28px 0 0;
  color: var(--white);
}

div.card-message-success i {
  font-size: 4rem;
  color: var(--green);
  background-color: var(--white);
  padding: 1.5rem 2rem;
  border-radius: 50%;
}

div.card-message-success h3 {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 4px;
}

div.card-text {
  padding: 1.5rem 1.5rem 1.5rem 2.5rem;
  font-size: 1.45rem;
  font-weight: 400;
}

div.card-text p:first-child:first-letter {
  font-size: 1.5rem;
  font-weight: 600;
}
div.card-text p#entry-no {
  font-weight: 400;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-style: oblique;
  letter-spacing: 1.25px;
  padding-left: 1rem;
}

div.card-text p#entry-no span {
  font-weight: 600;  
  font-size: 1.45rem;
  font-style: normal;
  font-family: var(--alt-font);
}

div.card-btns {
 padding: 2.5rem 2rem 5rem 2rem;
 display: flex;
 justify-content: space-between;
 column-gap: 2rem;
}

/* button */
button {
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 1.5px;
  transition: ease-in-out 75ms;
  padding: 1rem;
  box-shadow: 1px 1px 1px rgba(0 ,0 ,0 , 0.2);
}

button:hover {
  cursor: pointer;
}

button.btn-pri {
  background-color: var(--green);
  border: none;
  color: var(--white);
}

button.btn-sec {
  background-color: var(--white);
  color: var(--drk-pri-color);
  border: var(--primary-color) solid 2px;
}

button.btn-sec:hover {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
}
button.btn-ter {
  background-color: var(--white);
  color: var(--dark-color);
  border: var(--dark-color) solid 2px;
}
button.btn-ter:hover {
  background-color: var(--grey);
  color: var(--white);
  border: none;
}

/* footer */
div#container-footer {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 1.5rem 6rem;
  display: flex;
  column-gap: 1rem;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

div#container-footer > div#socials {
  display: flex;
  column-gap: 1.4rem;
  align-items: center;
  font-size: 1.35rem;
}

div#container-footer > div#socials > a {
  color: var(--light-color);
}

div#container-footer > div#contact {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

div#container-footer > div#contact > p {
  font-weight: 600;
  text-transform: uppercase;
}

/* MEDIA QUERIES */
/* desktop view */
@media (min-width: 676px) and (max-width: 1100px) {
  /* buttons */
  div.card-btns {
    padding: 2.5rem 2rem 3rem 2rem;
  }

  /* footer */
  div#container-footer {
    padding: 1.5rem 2rem;
  }
  div#container-footer > div#socials {
    column-gap: 0.8rem;
  }
  div#container-footer > p {
    text-align: center;
  }
}

@media (max-width: 850px) {
  body {
    height: auto;
  }
}

/* mobile & tablet view */
@media (max-width: 675px) {
  /* header */
  header {
    margin: 0;
    padding-left: 7.5%;
  }
  header > h3 {
    font-size: 1.35rem;
  }

  /* card-message */
  div.card-message-success {
    row-gap: 1rem;
  }
  div.card-message-success i {
    font-size: 3rem;
    padding: 1rem 1.3rem;
  }
  
  div.card-message-success h3 {
    font-size: 1.25rem;
  }
 /* card-text */
  div.card-text {
    padding: 1.5rem;
  }
  
  div.card-text {
    font-size: 1rem;
  }
  
  div.card-text p:first-child:first-letter {
    font-size: 1.2rem;
  }

  div.card-text p#entry-no {
    font-size: 0.65rem;
    padding-left: 0;
  }
  
  div.card-text p#entry-no span {
    font-size: 1.4rem;
  }
  /* card-buttons */
  div.card-btns {
    padding: 1rem 2rem 2.5rem 1.5rem;
    display: flex;
    flex-wrap: wrap-reverse;
    row-gap: 1.5rem;
   }
  /* buttons */
  button {
    font-size: 0.8rem;
    letter-spacing: 1.25px;
    font-weight: 600;
    padding: 0.75rem;
    text-transform: none;
  }

  button:hover {
    box-shadow: none;
    font-size: 1rem;
  }

  /* footer */
  div#container-footer {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 1.5rem 1.2rem;
    flex-direction: column-reverse;
    align-items: start; 
    row-gap: 0.85rem;
    font-size: 1.2rem;
    height: auto;
  }

  div#container-footer > p {
    font-size: 0.8rem;
    order: -1;
  }
  
  div#container-footer > div#contact > p {
    font-weight: 600;
    text-transform: uppercase;  
  }

  div#container-footer > div#contact li {
    font-size: 0.85rem;
  }

  div#container-footer > div#socials {
    column-gap: 1rem;
  }
}

@media (max-width: 450px) {
  /* hr */
  hr.two {
    margin: 2rem 0;
  }
}
